@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }
  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* ============= NavLink active End here ================ */

/* Payment button css */
.payment-button {
  cursor: pointer;
  transition: transform 0.2s;
}

.payment-button:hover {
  transform: scale(1.1);
}

.payment-button-selected {
  cursor: pointer;
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 3px;
  /* Set the width of the scrollbar */
}

/* Track for webkit browsers */
::-webkit-scrollbar-track {
  background: transparent;
  /* Set the background color of the track */
}

/* Handle for webkit browsers */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Set the background color of the thumb */
  border-radius: 4px;
  /* Round the corners of the thumb */
}

/* When hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Change the thumb color on hover */
}

/* Scrollbar corner (between vertical and horizontal scrollbar) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
  /* Set the background color of the corner */
}